@import 'node_modules/bootstrap/scss/bootstrap';

html {
  background-color: #ffffff;
}

body {
  opacity: 1;
}

.text-danger {
  color: #EE1722 !important;
}

.text-warning {
  color: #D97E00 !important;
}

.text-success {
  color: #228007 !important;
}